n8n/workflows/social-media-daily.json
{
  "name": "MaVilleIdeale — Réseaux Sociaux Quotidien",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9,15,19 * * 1-6"
            }
          ]
        }
      },
      "id": "aa000001-0000-0000-0000-000000000001",
      "name": "Déclencheur 3x/jour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 300]
    },
    {
      "parameters": {
        "jsCode": "// ===== GÉNÉRATEUR DE CONTENU MAVILLEIDEALE =====\n// Rotation quotidienne : une ville différente chaque jour\n\nconst cities = [\n  { name: 'Annecy',            slug: 'annecy',            score: 7.8, dept: 'Haute-Savoie',              region: 'Auvergne-Rhône-Alpes', highlight: 'lac, montagnes, qualité de vie au sommet' },\n  { name: 'Bayonne',           slug: 'bayonne',           score: 7.5, dept: 'Pyrénées-Atlantiques',       region: 'Nouvelle-Aquitaine',    highlight: 'culture basque authentique, gastronomie, Biarritz à 10 min' },\n  { name: 'La Rochelle',       slug: 'la-rochelle',       score: 7.4, dept: 'Charente-Maritime',          region: 'Nouvelle-Aquitaine',    highlight: 'port historique, 2 600 h de soleil, île de Ré à deux pas' },\n  { name: 'Rennes',            slug: 'rennes',            score: 7.2, dept: 'Ille-et-Vilaine',            region: 'Bretagne',              highlight: '1er réseau vélo de France, dynamisme universitaire' },\n  { name: 'Bordeaux',          slug: 'bordeaux',          score: 7.1, dept: 'Gironde',                    region: 'Nouvelle-Aquitaine',    highlight: 'vignobles, qualité de vie, TGV Paris 2 h' },\n  { name: 'Nantes',            slug: 'nantes',            score: 7.0, dept: 'Loire-Atlantique',           region: 'Pays de la Loire',      highlight: 'capitale créative, Machines de l'île, nature urbaine' },\n  { name: 'Montpellier',       slug: 'montpellier',       score: 6.9, dept: 'Hérault',                    region: 'Occitanie',             highlight: '300 jours de soleil, mer à 10 min, 1ère ville étudiante' },\n  { name: 'Grenoble',          slug: 'grenoble',          score: 6.8, dept: 'Isère',                      region: 'Auvergne-Rhône-Alpes', highlight: 'hub tech, Alpes à portée, air pur' },\n  { name: 'Brest',             slug: 'brest',             score: 6.7, dept: 'Finistère',                  region: 'Bretagne',              highlight: 'prix attractifs, mer omniprésente, Bretagne vivante' },\n  { name: 'Strasbourg',        slug: 'strasbourg',        score: 6.7, dept: 'Bas-Rhin',                   region: 'Grand Est',             highlight: 'capitale européenne, gastronomie alsacienne, marché de Noël' },\n  { name: 'Tours',             slug: 'tours',             score: 6.6, dept: 'Indre-et-Loire',             region: 'Centre-Val de Loire',   highlight: 'jardins de la Loire, art de vivre, Paris 55 min TGV' },\n  { name: 'Pau',               slug: 'pau',               score: 6.5, dept: 'Pyrénées-Atlantiques',       region: 'Nouvelle-Aquitaine',    highlight: 'Pyrénées visibles depuis les boulevards, soleil, immobilier doux' },\n  { name: 'Nice',              slug: 'nice',              score: 6.5, dept: 'Alpes-Maritimes',            region: 'PACA',                  highlight: 'Riviera, 300 jours de soleil, aéroport international' },\n  { name: 'Metz',              slug: 'metz',              score: 6.4, dept: 'Moselle',                    region: 'Grand Est',             highlight: 'Centre Pompidou-Metz, cathédrale illuminée, porte de l'Europe' },\n  { name: 'Chambéry',          slug: 'chambery',          score: 6.4, dept: 'Savoie',                     region: 'Auvergne-Rhône-Alpes', highlight: 'carrefour alpin, lac du Bourget, Annecy et Lyon à 1 h' },\n  { name: 'Nancy',             slug: 'nancy',             score: 6.3, dept: 'Meurthe-et-Moselle',        region: 'Grand Est',             highlight: 'Place Stanislas UNESCO, art nouveau, université' },\n  { name: 'Nîmes',             slug: 'nimes',             score: 6.3, dept: 'Gard',                       region: 'Occitanie',             highlight: 'amphithéâtre romain, soleil méditerranéen, prix accessibles' },\n  { name: 'Angers',            slug: 'angers',            score: 6.3, dept: 'Maine-et-Loire',             region: 'Pays de la Loire',      highlight: 'Anjou, vignobles, château, Paris 1 h 20 TGV' },\n  { name: 'Dijon',             slug: 'dijon',             score: 6.2, dept: 'Côte-d'Or',                  region: 'Bourgogne-Franche-Comté', highlight: 'capitale gastronomique, Côte de Nuits, art de vivre' },\n  { name: 'Toulon',            slug: 'toulon',            score: 6.2, dept: 'Var',                        region: 'PACA',                  highlight: 'mer à pied, soleil varois, alternative abordable à Nice' },\n  { name: 'Caen',              slug: 'caen',              score: 6.2, dept: 'Calvados',                   region: 'Normandie',             highlight: 'université, mer à 15 min, prix attractifs, Paris 2 h' },\n  { name: 'Lorient',           slug: 'lorient',           score: 6.2, dept: 'Morbihan',                   region: 'Bretagne',              highlight: 'festival interceltique, rade magnifique, Bretagne abordable' },\n  { name: 'Clermont-Ferrand',  slug: 'clermont-ferrand',  score: 6.1, dept: 'Puy-de-Dôme',               region: 'Auvergne-Rhône-Alpes', highlight: 'volcans à 10 min, hub industriel, nature immédiate' },\n  { name: 'Valence',           slug: 'valence',           score: 6.0, dept: 'Drôme',                      region: 'Auvergne-Rhône-Alpes', highlight: 'soleil, Ardèche accessible, TGV Paris-Marseille' },\n  { name: 'Perpignan',         slug: 'perpignan',         score: 6.0, dept: 'Pyrénées-Orientales',        region: 'Occitanie',             highlight: 'ville la plus ensoleillée de France, mer, Espagne à 30 min' },\n  { name: 'Rouen',             slug: 'rouen',             score: 5.8, dept: 'Seine-Maritime',             region: 'Normandie',             highlight: 'Normandie historique, Paris 1 h 20, bords de Seine' },\n  { name: 'Poitiers',          slug: 'poitiers',          score: 5.8, dept: 'Vienne',                     region: 'Nouvelle-Aquitaine',    highlight: 'université médiévale, Futuroscope, accessibilité TGV' },\n  { name: 'Reims',             slug: 'reims',             score: 5.7, dept: 'Marne',                      region: 'Grand Est',             highlight: 'champagne, cathédrale UNESCO, Paris 45 min TGV' },\n  { name: 'Le Mans',           slug: 'le-mans',           score: 5.9, dept: 'Sarthe',                     region: 'Pays de la Loire',      highlight: 'Paris 55 min TGV, prix 30% sous Paris, qualité de vie' },\n  { name: 'Amiens',            slug: 'amiens',            score: 5.5, dept: 'Somme',                      region: 'Hauts-de-France',       highlight: 'cathédrale gothique, hortillonnages, Paris 1 h TGV' }\n];\n\nconst BASE_URL = 'https://mavilleideale.fr';\n\n// Rotation par jour de l'année\nconst today = new Date();\nconst dayOfYear = Math.floor((today - new Date(today.getFullYear(), 0, 0)) / 86400000);\nconst city = cities[dayOfYear % cities.length];\nconst cityUrl = `${BASE_URL}/villes/${city.slug}`;\n\n// Emoji selon le tier\nconst tierEmoji = city.score >= 7.5 ? '🏆' : city.score >= 7.0 ? '🌟' : city.score >= 6.0 ? '✅' : '📍';\n\nconst posts = {\n  facebook:\n    `${tierEmoji} Ville du jour : ${city.name}\\n\\n` +\n    `📊 Score MaVilleIdeale : ${city.score.toFixed(1)}/10\\n` +\n    `📍 ${city.dept} — ${city.region}\\n\\n` +\n    `${city.highlight}\\n\\n` +\n    `Classement 100% données publiques : INSEE, SSMSI, observatoires des loyers. Sans bullshit.\\n\\n` +\n    `🔗 Analyse complète : ${cityUrl}\\n\\n` +\n    `#MaVilleIdeale #${city.name.replace(/[\\s'\\-]/g, '')} #France #Immobilier #Relocation #QualiteDeVie`,\n\n  threads:\n    `${tierEmoji} ${city.name} — score ${city.score.toFixed(1)}/10\\n\\n` +\n    `${city.highlight}\\n\\n` +\n    `Données : INSEE, SSMSI, loyers officiels. 352 villes analysées.\\n\\n` +\n    `➡️ ${cityUrl}`,\n\n  linkedin:\n    `Analyse : ${city.name} (${city.dept})\\n\\n` +\n    `Indice de qualité de vie MaVilleIdeale : ${city.score.toFixed(1)}/10\\n\\n` +\n    `Points forts : ${city.highlight}\\n\\n` +\n    `MaVilleIdeale classe 352 villes françaises sur 8 axes (qualité de vie, transports, nature, coût, sécurité, culture, télétravail, écoles). ` +\n    `Toutes les données sont publiques et vérifiables. Pas de classement sponsorisé.\\n\\n` +\n    `📊 ${cityUrl}\\n\\n` +\n    `#Immobilier #Relocation #QualitéDeVie #Télétravail #France #${city.region.replace(/[\\s\\-]/g, '')}`,\n\n  twitter:\n    `${tierEmoji} ${city.name} — ${city.score.toFixed(1)}/10\\n` +\n    `${city.highlight}\\n\\n` +\n    `352 villes · données INSEE/SSMSI\\n` +\n    `➡️ ${cityUrl}\\n#MaVilleIdeale #France`\n};\n\nreturn [{ json: { city, posts, cityUrl, generatedAt: today.toISOString() } }];"
      },
      "id": "aa000001-0000-0000-0000-000000000002",
      "name": "Générer le contenu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://graph.facebook.com/v20.0/me/accounts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "access_token", "value": "={{ $env.FB_ACCESS_TOKEN }}" }
          ]
        },
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000003",
      "name": "FB — Récupérer pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 140]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data;\nif (!data || data.length === 0) throw new Error('Aucune page Facebook gérée par ce token.');\nconst page = data[0];\nreturn [{ json: { pageId: page.id, pageName: page.name, pageToken: page.access_token } }];"
      },
      "id": "aa000001-0000-0000-0000-000000000004",
      "name": "FB — Extraire page ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 140]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $json.pageId }}/feed",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "message",      "value": "={{ $('Générer le contenu').first().json.posts.facebook }}" },
            { "name": "link",         "value": "={{ $('Générer le contenu').first().json.cityUrl }}" },
            { "name": "access_token", "value": "={{ $json.pageToken }}" }
          ]
        },
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000005",
      "name": "Facebook — Publier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 140]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.threads.net/v1.0/{{ $env.THREADS_USER_ID }}/threads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "media_type",   "value": "TEXT" },
            { "name": "text",         "value": "={{ $('Générer le contenu').first().json.posts.threads }}" },
            { "name": "access_token", "value": "={{ $env.FB_ACCESS_TOKEN }}" }
          ]
        },
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000006",
      "name": "Threads — Créer conteneur",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.threads.net/v1.0/{{ $env.THREADS_USER_ID }}/threads_publish",
        "sendQuery": true,
        "queryParameters": [
          { "name": "creation_id",  "value": "={{ $json.id }}" },
          { "name": "access_token", "value": "={{ $env.FB_ACCESS_TOKEN }}" }
        ],
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000007",
      "name": "Threads — Publier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",              "value": "=Bearer {{ $env.LI_ACCESS_TOKEN }}" },
            { "name": "X-Restli-Protocol-Version", "value": "2.0.0" },
            { "name": "Content-Type",               "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ author: 'urn:li:person:' + $env.LI_PERSON_URN, lifecycleState: 'PUBLISHED', specificContent: { 'com.linkedin.ugc.ShareContent': { shareCommentary: { text: $('Générer le contenu').first().json.posts.linkedin }, shareMediaCategory: 'NONE' } }, visibility: { 'com.linkedin.ugc.MemberNetworkVisibility': 'PUBLIC' } }) }}",
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000008",
      "name": "LinkedIn — Publier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 460],
      "disabled": true,
      "notes": "DÉSACTIVÉ — compléter OAuth LinkedIn d'abord. Voir README."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.TWITTER_USER_TOKEN }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Générer le contenu').first().json.posts.twitter }) }}",
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000009",
      "name": "Twitter/X — Publier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 600],
      "disabled": true,
      "notes": "DÉSACTIVÉ — compléter OAuth Twitter d'abord. Voir README."
    }
  ],
  "connections": {
    "Déclencheur 3x/jour": {
      "main": [[{ "node": "Générer le contenu", "type": "main", "index": 0 }]]
    },
    "Générer le contenu": {
      "main": [[
        { "node": "FB — Récupérer pages",       "type": "main", "index": 0 },
        { "node": "Threads — Créer conteneur",  "type": "main", "index": 0 },
        { "node": "LinkedIn — Publier",         "type": "main", "index": 0 },
        { "node": "Twitter/X — Publier",        "type": "main", "index": 0 }
      ]]
    },
    "FB — Récupérer pages": {
      "main": [[{ "node": "FB — Extraire page ID", "type": "main", "index": 0 }]]
    },
    "FB — Extraire page ID": {
      "main": [[{ "node": "Facebook — Publier", "type": "main", "index": 0 }]]
    },
    "Threads — Créer conteneur": {
      "main": [[{ "node": "Threads — Publier", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "social-media" }, { "name": "mavilleideale" }]
}
